*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.links ul{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.links ul a{
    border: none;
    background-color: transparent;

}
.links ul a ul {
    background-color: transparent;
    margin-left: -16px;
}
.links ul a ul a {
    background-color: transparent;

}
.links ul a:hover{
    color: rgb(74, 74, 162);
}
.f-ul{
    display: flex;
    flex-direction: row;
}
.icon{
    transition: 0.5s;
    cursor: pointer;
}
.icon:hover{
   color: rgb(74, 74, 162);
}
 .pointer{
    cursor: pointer;
}


@media (max-width:992px) {
    .f-ul{
        flex-direction: column;
    }
}