*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo .bars{
    display: none;
}

nav {
    top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 60px; */
    position:fixed;
    width: 90%;
    z-index: 100;
   margin: 0 3%;
   border-radius: 10px;
    box-shadow: grey 10px 10px 10px;
    background-color: white;
}
nav ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
align-items: center;
justify-content: space-around;
height: 100%;
width: 70%;

}
@media (max-width:992px) {
    .logo{
        display: flex;
        align-items: center;
    }
    .logo .bars{
        display: inline-block;
        margin-left: 10px;
    }
nav{
    flex-direction: column;
    /* height: 80%; */
}
nav ul{
    flex-direction: column;
}
    nav .activ {
 
display: flex;}
nav .down{
    display: none;
}
nav ul .li{
    flex-grow: 0;
}
    nav h3{
        display: block;
    }
}

